:root{
  --rounded: 2rem;

}


.delete {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}



#side-bar {
  border: 2px solid black;
  border-radius: var(--rounded);
  //background: #ededed; // TODO: does that look good?
  padding: 1rem;
  height: 70vh;
  min-width: 15rem;
  flex: 1;
  flex-shrink: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .add-chat {
    flex-shrink: 0;
    width: 100%;
    bottom: 1rem;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #addChat{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      button{
        width: 2rem;
      }
    }
  }
  #chat-list-and-search{
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    #input-chat{
      position: sticky;
      top: 0;
    }
    #chat-list {

      div{
        cursor: pointer;
        border: black 1px solid;
        border-radius: 1rem;
        height: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.2rem;
        vertical-align: middle;
        margin: 0.3rem 0;
        p{
          display: block;
        }
        #pfp{
          height: 100%;
          border-radius: 50%;
        }
        #badge{
          height: 1.2rem;
        }
      }

    }
  }

}

#user-list {
  display: none;
  border-radius: 1rem;
  width: 80%;
  min-height: 1.5rem;
  max-height: 20rem;
    overflow-y: auto;
  overflow-x: hidden;
  background: white;
  border: 1px solid black;
  position: relative;
  //float: left;
  div{
    background: #ededed;
    cursor: pointer;
    //border-radius: var(--rounded);
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0.5rem 0 0.5rem 1rem;
  }

}

//.addedUser{
//    display: flex;
//    flex-direction: row;
//    gap: 1rem;
//    align-items: center;
//    padding: 0.5rem;
//    border-radius: var(--rounded);
//    cursor: pointer;
//    &:hover{
//        background: #d1d1d1;
//    }
//  img{
//    border-radius: 50%;
//    height: 2rem;
//    aspect-ratio: 1;
//  }
//
//
//}

#messageWindow {
  padding: 1rem;
}


#input-chat {
  width: 95%;
}



#chat-window {
  background-size: cover;
  height: 90%;
  overflow-y: auto;
}

#layer-down, #layer-up {
  text-align: center;
  display: none;
}

button{
  font-size: 1rem;
}

#sendMessage{
  height: 2.3rem;
  width:  2.3rem;
  img{
    height: 100%;
    width:  100%;
  }
}

#credits {
  font-size: 0.7rem;
  //position: sticky;
  //bottom: 0;
  float: right;
  text-decoration: none;
  color: grey;
}

#chat{
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

#input-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#chatandinput{
  background-image: url('../resources/chat/chat-bg.jpg');
  background-size: cover;
  display: flex;
  flex: 4;
  flex-shrink: 0;
  min-width: 25rem;
  flex-direction: column;
  height: 70vh;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: var(--rounded);
  padding: 1rem;
  overflow: hidden;
}

#messageInput {
  width: 85%;
}


.date {
  text-align: center;
  font-size: 1.2rem;
}

.own-message {
  justify-content: flex-start;
  .msg-content{
    background: #87b1fd;
  }
}

.message{
  margin: 1rem;
  display: flex;
  font-size: 1.1rem;
  .msg-content{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.2rem;
    padding: 1rem;
    min-width: 15%;
    border-radius: var(--rounded);
    overflow-y: auto;
    div{
      display:flex;
      flex-direction: row;
        justify-content: space-between;
      gap: 0.5rem;
    }
    .time{
      font-size: 0.9rem;
      color: #404040;

    }
  }
}

.other-message {
  justify-content: flex-end;
  .msg-content{
    background: #d1d1d1;
  }
}
input{
  font-size: 1rem;
}

@media (max-width: 1024px) and (orientation: portrait){
  body{
    margin: 0 1rem !important;
  }
  input{
    font-size: 1.3rem;
  }
}
