@import url("./notification.css");

// region Fonts

@font-face {
  font-family: 'Carlito';
  src: url('../resources/fonts/Carlito-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Carlito';
  src: url('../resources/fonts/Carlito-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Carlito';
  src: url('../resources/fonts/Carlito-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Carlito';
  src: url('../resources/fonts/Carlito-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
// endregion


:root{
  --nav-accent: #eaa10e;
}


body {
  margin: 0 10rem;
  padding: 0;
  font-family: 'Carlito', sans-serif;
  //overflow-y: hidden;
  touch-action: manipulation;

}

input, .input{
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.4rem;
}


.main{
  margin-top: 18vh;
}

nav {
  z-index: 100;
  user-select: none;
  display: flex;
  align-items: center;
    justify-content: space-evenly;
  background: #ededed;
  width: fit-content;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  position: absolute;
  // center
  left: 50%;
    transform: translateX(-50%);
  top: 1rem;

  .navButton{
    vertical-align: center;
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    font-family: 'Carlito', sans-serif;
    margin: 0 0.6rem;
    padding: 0.6rem 1rem;
    img{
      cursor: pointer;
    }
  }

  a{
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      color: var(--nav-accent);
    }
    &.active{
      color: var(--nav-accent);
      font-weight: bold;
    }

  }
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) and (orientation: portrait){
  nav{
    top: 2rem;
    border-radius: 1.3rem;
    padding: 1rem 1.3rem;
    .navButton{
      img{
        height: 3vh;
        aspect-ratio: 1;
      }
      padding: 1rem;
      margin: 0 1.3rem;
    }
  }
}