:root {
  --rounded: 2rem;
}

.container {
  border-radius: var(--rounded);
  background: #ededed;
  padding: 2rem;
}

#user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}
#user p {
  font-size: 1.4rem;
}
#user #smallInfos {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
#user #smallInfos div {
  border-radius: var(--rounded);
  padding: 0.3rem 0.6rem;
  background: #bababa;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#user #smallInfos div img {
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
}
#user #smallInfos div span {
  font-weight: bold;
}
#user #data {
  text-align: center;
}
#user #data p {
  margin: 1rem 0;
}
#user #data #fullname {
  font-size: 2rem;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}
#user #data #username {
  margin-top: 0.1rem;
  margin-bottom: 0;
}
#user #data #bio {
  font-size: 1rem;
  max-height: 8rem;
  overflow: scroll;
  display: block;
}
#user #data #abilities {
  display: flex;
  flex-direction: row;
  max-height: 6rem;
  overflow: hidden;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
#user #data #abilities.expanded {
  overflow: scroll;
  max-height: 7rem;
}
#user #data #abilities span {
  border-radius: var(--rounded);
  padding: 0.5rem 1rem;
  background: #bababa;
  color: black;
}

.project {
  background-color: white;
  border-radius: var(--rounded);
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

#ability-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
#ability-list * {
  background: #ededed;
  border-radius: var(--rounded);
}
#ability-list > li {
  list-style-type: none;
  padding: 2rem 3rem;
}
#ability-list > li span {
  background-color: white;
  border-radius: var(--rounded);
  padding: 0.2rem;
  margin: 0.5rem;
  display: flex;
  text-decoration: none;
  color: black;
}

#projectList {
  overflow-y: auto;
  max-height: 28rem;
}

#pfpWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

#pfp {
  width: 10rem;
  height: 10rem;
}
#pfp #pfpImg {
  border: 2px solid gray;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
#pfp #editPfp {
  position: relative;
  top: -2.5rem;
  left: 7.3rem;
  width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  background: rgba(225, 225, 225, 0.8);
  border-radius: 50%;
  padding: 0.2rem;
  overflow: clip;
}
#pfp #editPfp input {
  display: none;
}
#pfp #editPfp img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5rem;
  flex-wrap: wrap;
}

#projects {
  flex: 2;
  position: relative;
}
#projects #create {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: #bababa;
  border-radius: var(--rounded);
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
}

#ability-popup {
  overflow-x: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  max-height: 70%;
  width: 60%;
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  border: 2px solid #ededed;
  display: flex;
  justify-content: center;
  border-radius: var(--rounded);
}
#ability-popup img {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}

#ability-list {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 1.5rem 3rem;
  justify-content: center;
  flex-wrap: wrap;
}
#ability-list * {
  background: #ededed;
  border-radius: var(--rounded);
}
#ability-list > li {
  list-style-type: none;
  padding: 2rem 3rem;
}
#ability-list > li > span {
  font-weight: bold;
  font-size: 1.5rem;
}

#projectTabs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
}
#projectTabs button {
  border-radius: var(--rounded);
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background: #bababa;
  color: black;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
#projectTabs button:hover {
  background: #a0a0a0;
}

/*# sourceMappingURL=profile.css.map */
