:root{
  --rounded: 2rem;
}

.main{
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  gap: 5rem;
  .container{
    h1,h2 {
        text-align: center;
      margin: 0.3rem;
    }
    height: 70vh;
    //border: 2px solid black;
    border-radius: var(--rounded);
    background: #ededed;
    padding: 1.5rem;
    width: 100%;
    overflow-y: auto;
  }
}

#project-details{
  position: relative;
  h1{
    text-align: center;
  }
  flex: 3;
  #minor-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    p{
      font-weight: bold;
      border-radius: var(--rounded);
      padding: 0.3rem 0.6rem;
      background: #bababa;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      img{
        vertical-align: middle;

        width: 1.2rem;
        height: 1.2rem;
      }
    }

  }
  #description{
    text-align: center;
  }
}

#project-members{
  position: relative;
  flex: 2;
}

#deleteProject {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  display: none;
  border: none;
  background: none;
}

#membersCnt {
  font-weight: lighter;
  font-size: 1.5rem;
}

.member-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#switch {
  display: none;
}

.member-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.member{
  display: flex;
  flex-direction: row;
  height: 5rem;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid black;
  gap: 1rem;
  .pfp{
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1;
  }
  div{
    justify-content: center;
    p{
      cursor: pointer;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-size: 1.2rem;
      img{
        height: 1.3rem;
        width: 1.3rem;
        vertical-align: middle;
      }
    }
  }
}

.bloblist{
  display: flex;
  margin: 1.2rem 0;
  flex-direction: row;
  max-height: 6rem;
  overflow: hidden;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  &.expanded{
    overflow: scroll;
    max-height: 7rem;
  }
  *{
    // tags
    border-radius: var(--rounded);
    padding: 0.5rem 1rem;
    background: #bababa;
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }
  a:hover{
    background: #a5a5a5;
  }
}