
body {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 3%;
}

.side-bar {
  border: 1px solid black;
  width: 20%;
  height: 80%;
  overflow-y: auto;
  float: left;
}

#user-list {
  display: none;
  width: 10rem;
  margin-left: 0.5rem;
  min-height: 1.5rem;
  background: white;
  border: 1px solid black;
  float: left;
  position: absolute;
}

#messageWindow {
  padding: 1rem;
}

#chat-window {
  background-image: url('../resources/chat/chat-bg.jpg');
  background-size: cover;
  border: 1px solid black;
  width: 79%;
  height: 75%;
  overflow-y: auto;
  float: right;
}

#layer-down, #layer-up {
  text-align: center;
  display: none;
}

#credits {
  font-size: 0.8rem;
  position: absolute;
  float: left;
  bottom: 2%;
  text-decoration: none;
  color: grey;
}

.chat {
  border: 1px solid black;
}

.input-bar {
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  margin-left: 0.3vw;
  width: 85%;
}

#messageInput {
  width: 83%;
}

.own-message, .other-message, .date {
  font-size: 2.5vh;
}

.date {
  text-align: center;
}

.own-message {
    display: flex;
    justify-content: flex-start;
}

.other-message {
    display: flex;
    justify-content: flex-end;
}