
body {
  height: 100vh;
  overflow-y: hidden;
  padding: 3%;
}

.side-bar {
  border: 1px solid black;
  width: 20%;
  height: 80%;
  overflow-y: auto;
  float: left;
}

.chat-window {
  border: 1px solid black;
  width: 79%;
  height: 80%;
  overflow-y: auto;
  float: right;
}

.chat {
  border: 1px solid black;
}

.input-bar {
  position: absolute;
  bottom: 0;
  margin-bottom: 3vh;
  margin-left: 0.3vw;
  width: 83%;
}

#messageInput {
  width: 83%;
}