:root{
    --rounded: 2rem;

}


body {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 3%;
}

.side-bar {
  border: 2px solid black;
  border-radius: var(--rounded);
  padding: 1rem;
  width: 20%;
  height: 75%;
  overflow-y: hidden;
  overflow-x: hidden;
  float: left;
}

#user-list {
  display: none;
  width: 10rem;
  margin-left: 0.5rem;
  min-height: 1.5rem;
  background: white;
  border: 1px solid black;
  //float: left;
  position: absolute;
}

#messageWindow {
  padding: 1rem;
}

#input-chat {
  width: 95%;
}

.add-chat {
  position: relative;
  top: 10%;
  width: 100%;
}

#chat-list {
  overflow-y: auto;
  height: 80%;
}

#chat-window {
  background-size: cover;
  height: 90%;
  overflow-y: auto;
}

#layer-down, #layer-up {
  text-align: center;
  display: none;
}

#credits {
  font-size: 0.8rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: grey;
}

#chat{
  height: 100%;
  display: flex;
    flex-direction: row;
  gap: 3rem;
  justify-content: space-around;
}

#input-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#chatandinput{
  background-image: url('../resources/chat/chat-bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
  height: 75%;
    width: 79%;
  justify-content: space-between;
  border: 2px solid black;
    border-radius: var(--rounded);
  padding-bottom: 1rem;
  overflow: hidden;
}

#messageInput {
  width: 85%;
}

.own-message, .other-message, .date {
  font-size: 2.5vh;
}

.date {
  text-align: center;
}

.own-message {
    display: flex;
    justify-content: flex-start;
}

.other-message {
    display: flex;
    justify-content: flex-end;
}

.chat{
  border: 1px solid black;
}