#notification-box {
  margin-left: 5vw;
  width: 10vw;
  height: 20vh;
  background: orange;
  position: absolute;
  display: none;
}

.notification-new {
  width: 0.5vw;
  height: 0.5vh;
  border-radius: 100%;
  background: red;
  position: absolute;
  top: 0;
  right: 0;
}